
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideInLeft 0.5s ease-in-out;
}

.slideInRight {
  animation: slideInRight 0.5s ease-in-out;
}


@media screen and (max-width: 1000px) {
  .HomePage {
    margin-left: 0px;
  }
}

/* Add styles for CreateFolder */

.CreateFolder {
  background-color: yellow; /* Change to your desired background color */
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation */
}

/* Add styles for UploadFileModal */

.UploadFileModal {
  cursor: pointer;
  background-color: red; /* Change to your desired background color */
  animation: fadeIn 0.5s ease-in-out; /* Apply fadeIn animation */
}
